{% load static %}

<a href="/blog/"><img src="{% static 'images/titlelogo.gif' %}"/></a>
<hr>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head><link rel="stylesheet" href="{% static 'css/all.css' %}">
    <meta charset="utf-8">
    <title>Add-Article</title>
  </head>
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
  <style>
  #middle{
    position: relative;
    top:10%;
    left:25%;
    padding: 10px;
    border-radius:15px; border: 2px solid gray; width:40%; position: relative;

  }
  </style>
  <body style="background-image: url('{% static "images/back4.jpg" %}');height:600px;">
      <h1>Add an awesome article here</h1>
      <hr size="2", color="brown">
    <div id="middle">
        
        <form class="site-form" action="/blog/create" method="post">
          {% csrf_token %}
          {{ form.as_p }}
        <input type="submit" value="Create">
        </form>
    </div>
    <div style="border: thin 2px; bottom:-100px; position: relative; ">
        <div align="center" id="footer"> 
            <a href="{% url 'aboutus' %}">About Us</a>
            <a href="{% url 'privacy' %}">Privacy Policy</a>
            
            <a href="{% url 'faq' %}">FAQ</a>
          
        </div>
    <footer style="font-size: 28px; color:red; text-align: center">An ICES Project!</footer>
  </body>
</html>
