<!DOCTYPE html>
<html lang="en" dir="ltr">
{% extends "base.html" %}
{% block content %}
  <head>
    <meta charset="utf-8">
    <title>Authors</title>


  </head>
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
  <body>
    <h1>Hall Of Fame</h1>
    {% for writers in writers %}
    <a href="{{ writers.id }}">{{ writers.name }}<a/><br>
    {% endfor %}

  </body>
  <div align="center" id="footer"> 
      <a href="{% url 'aboutus' %}">About Us</a>
      <a href="{% url 'privacy' %}">Privacy Policy</a>
      
      <a href="{% url 'faq' %}">FAQ</a>
    
  </div>
<footer style="font-size: 28px; color:red; text-align: center">An ICES Project!</footer>
  {% endblock %}

</html>
