{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
{% block content %}
  <head>
    <meta charset="utf-8">
    <title>Authors</title>


  </head>
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
  <body>
    <h1>Hall Of Fame</h1>
    {% for writers in writers %}
    <a href="{{ writers.id }}">{{ writers.name }}<a/><br>
    {% endfor %}

  </body>
  <div>
    {% for author in author %}
    <a href="{{ author.id }}">
        {{ author.author }}<br><br>
    </a>
    {% endfor %}
  </div>
<footer style="font-size: 28px; color:red; text-align: center">An ICES Project!</footer>
  {% endblock %}

</html>
